.hero
  .hero-head
    = render partial: "shared/navbar"
  .hero-body
    .container
      .columns.is-centered
        .column.is-two-fifths
          %h1.title Questions
          %table.table.is-hoverable.is-striped.is-fullwidth
            %thead
              %tr
                %th Question
                %th Completed
            %tbody
              - current_team.questions.each do |question|
                %tr
                  %td
                    %a{href: question_path(question.id)}= "Question %02d" % question.id
                  %td
                    = render partial: "shared/icon", locals: {team: current_team, question_id: question.id}
