.hero
  .hero-body
    .container
      .columns.is-centered
        .column.is-two-fifths
          %h1.title Questions
          %table.table.is-hoverable.is-striped.is-fullwidth
            %thead
              %tr
                %th Question
                %th Completed
                %th Show
            %tbody
              - @questions_ids.each do |number|
                %tr
                  %td= "Question %02d" % number
                  %td
                    = render partial: "shared/icon", locals: {team: current_user, question_id: number}
                  %td= link_to 'Show', question_path(number)
