.hero.is-fullheight
  .hero-body
    .container.has-text-centered
      %h1.title Welcome to your third quest
      %h2.subtitle Are you ready for this?
      %a.button.is-success.is-large{href: new_team_registration_path} Let's do this
      %a.button.is-danger.is-large{href: asset_path("pathetic.png")} Run like a baby
